body {
  background-color: #87ceeb;
  display: flex;
  flex-direction: column;
  font-family: "Saira Stencil One";
}

html,
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.startDiv {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  flex-direction: column;
}

.roundedButton {
  width: 20vh;
  height: 20vh;
  border-radius: 10%;
  border-color: #9400d3;
  border-style: solid;
  border-width: 2px;
  background-color: #ff4500;
  color: whitesmoke;
  font-weight: bolder;
  font-size: larger;
  padding: 20px;

  -webkit-box-shadow: -16px 16px 11px 1px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: -16px 16px 11px 1px rgba(0, 0, 0, 0.19);
  box-shadow: -16px 16px 11px 1px rgba(0, 0, 0, 0.19);
}

.roundedButton:hover {
  background-color: #8a2be2;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
}

#score {
  background-color: #ff4500;
  display: flex;
  justify-content: space-between; /* Pushes items to the edges */
  align-items: center; /* Aligns vertically */
}

#computerScore {
  margin-left: auto;
  font-weight: bolder;
  font-size: xx-large;

  font-family: "Saira Stencil One";

  width: 100px; /* Ensures equal width for scores */
  text-align: center;
}

#humanScore {
  font-weight: bolder;
  font-size: xx-large;
  font-family: "Saira Stencil One";

  width: 100px; /* Ensures equal width for scores */
  text-align: center;
}

#messageScore {
  flex-grow: 1; /* Takes up remaining space */
  text-align: center;
}

.saira-stencil-one-regular {
  font-family: "Saira Stencil One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.columnDiv {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  margin: 10px;

  width: 33vh;
}

.cardDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  font-size: xx-large;
  margin: 10%;
  padding: 10px;
  width: 15vh;
  height: 15vh;
  border-radius: 10%;
  border-color: #9400d3;
  border-style: solid;
  border-width: 2px;
  background-color: #ff4500;
  font-weight: bolder;

  -webkit-box-shadow: -16px 16px 11px 1px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: -16px 16px 11px 1px rgba(0, 0, 0, 0.19);
  box-shadow: -16px 16px 11px 1px rgba(0, 0, 0, 0.19);
}

.cardDiv:hover {
  background-color: #8a2be2;
  cursor: pointer;
  transform: scale(1.1);
}

.cardDivSelectedComputer {
  background-color: #8a2be2;
  transform: scale(1.1);
}

#board {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  border-radius: 2%;
  background-color: #4dbde9;
  margin: 1%;
}

.hidden {
  display: none !important;
}

img {
  max-width: 100%;
  height: auto;
  width: auto\9;
}

.restartDiv {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */

  width: 100vw;
  height: 90vh;
  background-color: #4dbde9;
  position: absolute;
}
